.character-card {
	width: 800px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.character-card__title {
	font-size: 24px;
}

.character-card__img {
	width: 100%;
}

.character-card__desc {
	font-size: 16px;
}

@media only screen and (max-width: 600px) {
	.character-card {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
